optimization: 2

program-default-options
  ghc-options: -msse2
  ghc-options: -ddump-to-file
  ghc-options: -ddump-simpl
  ghc-options: -dsuppress-coercions
  ghc-options: -dsuppress-idinfo
  ghc-options: -dsuppress-module-prefixes
  ghc-options: -dsuppress-uniques
  ghc-options: -dsuppress-type-applications
